/cmake-build-debug/CMakeFiles/
/cmake-build-debug/Testing/
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/depthInpainter
/cmake-build-debug/depthInpainter.cbp
/cmake-build-debug/Makefile
